*{
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  padding: 0;
  margin: 0;
}
#title {
  color: black;
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#description {
  font-size: 1.5rem;
  display: block;
  color: black;
  margin-top: 20px;
}
#survey-form {
  padding: 30px;
  margin: 30px;
  background-color: rgba(128, 128, 128, 0.7);
  width: 70%;
  height:70%;
  border-radius: 5%;
  border: 1px solid aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
label,
input,
select {
  display: block;
  padding: 10px;
}
.main {
  padding: 30px;
  height: fit-content;
  width: 1024px;
  background-color: rgba(233, 218, 218, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10%;
}
body {
  margin-top: 10px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(196, 0, 114),
    rgb(87, 136, 179),
    rgb(189, 0, 164)
  );
  animation: gradient 15s ease infinite;
  background-size: 400vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#dropdown {
  width: 100%;
}
input[type="radio"] {
  display: inline;
}
input[type="checkbox"] {
  display: inline;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
label{
  font-size: 1.5rem;
  display: block;
}
input{
  font-size: 1.5rem;
  width: 100%;
  height: 2rem;
  margin-top: 20px;
  border: 1px solid black;
  color: black;
  border-radius: 25px;
}
input[type="radio"],input[type="checkbox"]{
  width: 20px;
  padding: 2px;
  display: inline-block;
}
textarea{
  width: 100%;
  height: 20rem;
  border-radius: 10px;
  font-size: 1.5rem;
}
option{
  width: 100%;
  color: black;

}
#recommending{
  margin-top: 10px;
  font-size: 1.5rem;
}
input[type="submit"]{
  width: 80%;
  margin: auto;
  height: 50px;
  text-align: center;
  background-color: lightgreen;
  font-size: 1.2rem;
}
fieldset{
  font-size: 1.5rem;
  margin-top: 20px;}